@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-thumb {
	background: #666;
}

*::-webkit-scrollbar-track {
	background: #ddd;
}
